<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    @if (((string)ViewData["Title"]) != "Home")
    {
        <title>@ViewData["Title"]</title>
    }
    else
    {
        <title>FanSite</title>
    }
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1 class="text-center bg-light">FanSite</h1>
            <h1 class="badge badge-secondary">@ViewData["Title"]</h1>
        </div>
        @RenderBody()
        @if (((string)ViewData["Title"]) != "Home")
        {
            <p>
                <a asp-controller="Home" asp-action="Index">Back to Home</a>
            </p>
        }
    </div>
    
</body>
</html>
