@model TriviaLogic
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TriviaQuiz</title>
</head>
<body>
    <form method="post">
        What is Emma Watson's Name?
        <div>
            <input type="radio" name="Q1" value="a" />Emma Watson<br />
            <input type="radio" name="Q1" value="b" />Steven Tyler<br />
            <input type="radio" name="Q1" value="c" />Ashley Banks<br />
            <input type="radio" name="Q1" value="d" />Hermione Granger<br />
            <!--<button type="submit">Submit</button>-->

        </div>
        How old was she when she started acting?
        <div>
            <input type="radio" name="Q2" value="a" />9<br />
            <input type="radio" name="Q2" value="b" />10<br />
            <input type="radio" name="Q2" value="c" />11<br />
            <input type="radio" name="Q2" value="d" />12<br />
            <!--<button type="submit">Submit</button>-->
        </div>
        What is her natural hair color?
        <div>
            <input type="radio" name="Q3" value="a" />Red<br />
            <input type="radio" name="Q3" value="b" />Black<br />
            <input type="radio" name="Q3" value="c" />Blond<br />
            <input type="radio" name="Q3" value="d" />Blue<br />
            <!--<button type="submit">Submit</button>-->
        </div>
        Who was/is she married to in 2017?
        <div>
            <input type="radio" name="Q4" value="a" />William Knight<br />
            <input type="radio" name="Q4" value="b" />Daniel Radcliffe<br />
            <input type="radio" name="Q4" value="c" />Ronald Wesley<br />
            <input type="radio" name="Q4" value="d" />None Of the Above<br />
            <!--<button type="submit">Submit</button>-->
        </div>
        What is her Nationality?
        <div>
            <input type="radio" name="Q5" value="a" />British<br />
            <input type="radio" name="Q5" value="b" />French<br />
            <input type="radio" name="Q5" value="c" />Scottish<br />
            <input type="radio" name="Q5" value="d" />Bulgarian<br />
            <button type="submit">Submit</button>
        </div>
    </form>

    @{

        if (Model.Test() != 0)
        {
            @:<h3>You got @Model.Test() Correct!!!</h3>




        }

    }

</body>
</html>
