
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TriviaQuiz</title>
</head>
<body>
    <form>
        <label for="Q1">First Question Here</label>
        <input type="checkbox" name="Q1" />
    </form>
</body>
</html>
