
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TriviaQuiz</title>
</head>
<body>
    <form>
        First Question Here
        <div>
            <input type="radio" name="Q1" value="a" /><br />
            <input type="radio" name="Q1" value="b" /><br />
            <input type="radio" name="Q1" value="c" /><br />
            <input type="radio" name="Q1" value="d" /><br />
            <!--<button type="submit">Submit</button>-->
        </div>
        second Question Here
        <div>
            <input type="radio" name="Q2" value="a" /><br />
            <input type="radio" name="Q2" value="b" /><br />
            <input type="radio" name="Q2" value="c" /><br />
            <input type="radio" name="Q2" value="d" /><br />
            <!--<button type="submit">Submit</button>-->
        </div>
        3rd Question Here
        <div>
            <input type="radio" name="Q3" value="a" /><br />
            <input type="radio" name="Q3" value="b" /><br />
            <input type="radio" name="Q3" value="c" /><br />
            <input type="radio" name="Q3" value="d" /><br />
            <!--<button type="submit">Submit</button>-->
        </div>
        Forth Question Here
        <div>
            <input type="radio" name="Q4" value="a" /><br />
            <input type="radio" name="Q4" value="b" /><br />
            <input type="radio" name="Q4" value="c" /><br />
            <input type="radio" name="Q4" value="d" /><br />
            <!--<button type="submit">Submit</button>-->
        </div>
        fith Question Here
        <div>
            <input type="radio" name="Q5" value="a" /><br />
            <input type="radio" name="Q5" value="b" /><br />
            <input type="radio" name="Q5" value="c" /><br />
            <input type="radio" name="Q5" value="d" /><br />
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
