
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TriviaQuiz</title>
</head>
<body>
    <form>
        First Question Here
        <input group="Q1" type="radio" name="Q1a" />
        <input group="Q1" type="radio" name="Q1b" />
        <input group="Q1" type="radio" name="Q1c" />
        <input group="Q1" type="radio" name="Q1d" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>
