
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
</head>
<body>
    <p>
        @ViewData["Message"]
    </p>
</body>
</html>
