
@{
    ViewData["Title"] = "Authorization Page";
}

<h2>Index</h2>
<ul>
<li><a asp-controller="Auth" asp-action="CreateAccount">Create Account</a></li>
    <li><a asp-controller="Auth" asp-action="ShowAccounts">Show Accounts</a></li>
    </ul>