@{ 
    Layout = null;
}
@model StoryModel
<body>
    <p>
        

    </p>
    <div>
        <form asp-action="Stories">
            <div>
                <label asp-for="Title">Title:</label>
                <input  asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="Date">Date:</label>
                <input type="date"  asp-for="Date" />
            </div>
            <div class="form-group">
                <label asp-for="Story">Story:<br /></label>
                <textarea  asp-for="Story"></textarea>
            </div>
            <div class="form-group">
                <br />
                <button type="submit">Submit</button>
            </div>
        </form>
       
           
        <p>
            @if (Model != null) {
            @Model.Title
            @Model.Date
            @Model.Story}
        </p>

    </div>
</body>