
@model StoryModel
<body>
    <p>
        

    </p>
    <div>
        <form asp-action="Stories">
            <div>
                <label asp-for="Title">Title:</label>
                <input  asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="Date">Date:</label>
                <input type="date" value="" asp-for="Date" />
            </div>
            <div class="form-group">
                <label asp-for="Story">Story:<br /></label>
                <textarea  asp-for="Story" style="resize:none" rows="6" cols="36"  ></textarea>
            </div>
            <div class="form-group">
                <br />
                <button type="submit">Submit</button>
            </div>
        </form>
       
           
        <p>
            @if (Model.Title != null) {
            @Model.Title <br />
            @Model.Date.ToShortDateString()<br />
            @Model.Story<br />
            }
        </p>

    </div>
</body>