@{
    Layout = null;
}
@model PictureClass
<h2>Gallery</h2>
<body>
    <p>
        
    </p>

</body>
<html>
<head>
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    @{ PictureClass temp = new PictureClass();

        foreach (var fN in temp.FileNames)
        {
            <div class="gallery">
                <a target="_blank" href="~/images/@fN">
                    <img height="400" src="~/images/@fN" alt="@fN">
                </a>
                @{string[] sub = fN.Split('.');
                    


                        }
                <div class="desc">@sub[0]</div>
            </div>

        }

    }


</body>
</html>
